In [3]:
# for basic operation 
import numpy as np
import pandas as pd

# for Data Visualizations
import matplotlib.pyplot as plt
import seaborn as sns

# setting the chart
plt.rcParams['figure.figsize'] = (16, 5)
plt.style.use('fivethirtyeight')

In [8]:
# lets read the dataset
data = pd.read_csv('Mall_Customers.csv')
print(data.shape)
print(data.columns)

(200, 5)
Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

### Divide Age into Discrete Categories

In [9]:
print("Minimum Age :", data['Age'].min())
print("Maximum Age :", data['Age'].max())

Minimum Age : 18
Maximum Age : 70

In [12]:
# lets create a function to divide age into discrete categories
def age(x):
    if x <= 35:
        return "Young"
    else:
        return "Old"
    
data['Age'] = data['Age'].apply(age)
data['Age'].value_counts()

Old      102
Young     98
Name: Age, dtype: int64

### Understand the Impact of Spending score on Different Age Groups

In [15]:
# lets use the groupby function to understand that
data[['Age', 'Spending Score (1-100)']].groupby(['Age']).agg(['min','mean','max']).style.background_gradient(cmap = 'copper')

### Find out the Top 10 Target Customers

In [16]:
# To get the Target Customers we will use the Spending score and the Annual Income

data[['Annual Income (k$)','Spending Score (1-100)']].head()

   Annual Income (k$)  Spending Score (1-100)
0                  15                      39
1                  15                      81
2                  16                       6
3                  16                      77
4                  17                      40

In [23]:
# let's filter the Top Customers

data[['CustomerID','Annual Income (k$)','Spending Score (1-100)']][(data['Annual Income (k$)'] > 75)
        & (data['Spending Score (1-100)'] > 75)].sort_values(by = 'Spending Score (1-100)', ascending = False).head(10)

     CustomerID  Annual Income (k$)  Spending Score (1-100)
185         186                  99                      97
145         146                  77                      97
167         168                  86                      95
163         164                  81                      93
173         174                  87                      92
193         194                 113                      91
179         180                  93                      90
149         150                  78                      90
155         156                  78                      89
151         152                  78                      88